<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86462340136-3t72onh6i3cjqbbfjecpin1a4268brk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86462340136-3t72onh6i3cjqbbfjecpin1a4268brk0</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adamcmiel.app.MailCore</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:86462340136:ios:b43f24ca0d33f7fd</string>
	<key>new_CLIENT_ID</key>
	<string>86462340136-a8ctfhrfcgcv25ukl9s64m507h8tqbcv.apps.googleusercontent.com</string>
	<key>third_C_ID</key>
	<string>816380695459-rdgelo8a7t6pka8cqqgno2iq4ou1ae17.apps.googleusercontent.com</string>
	<key>4_C_ID</key>
	<string>816380695459-he2050dlpl1sj5a0a52ughclvvkis0rs.apps.googleusercontent.com</string>
	<key>4_secret</key>
	<string>Fmjqe8Qv07w1uCbGhp8KDWtB</string>
</dict>
</plist>
